ORACLE_USERNAME=seu_usuario
ORACLE_PASSWORD=sua_senha
ORACLE_HOSTNAME=(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=seu_host))(connect_data=(service_name=seu_service))(security=(ssl_server_dn_match=yes)))
